<!DOCTYPE html>
<html>
<head>
  <title>Encouragebot</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="put logo here">
      <h1>Heading goes here</h1>
      <p>Put text here</p>
      <div class="">
        <a href="put button link here" onclick=""></a>
      </div>
    <div class="">
      <img src="put screenshot here">
    </div>
    </div>
  </div>
</div>
</body>
</html>